@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Erica+One&family=Fascinate&family=Kenia&family=Oi&family=Permanent+Marker&family=Raleway:wght@200;300;400;500&family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Original+Surfer&family=Rock+Salt&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* html {
  height: 100%;
} */

body {
  /* height: 100%; */
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: #6c56a4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(106,203,166,1) 0%, rgba(109,205,216,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

#container {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
/*   background-color: rgba(252,255,161, 0.3); */
/*   background-color: linear-gradient(0deg, rgba(106,203,166,1) 0%, rgba(109,205,216,1) 100%); */
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
/*   border: 3px solid #6c56a4; */
}

/* section {
  text-align: center;
}
 */
#logo {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-family: 'Fascinate', cursive;
  line-height: 6rem;
  font-size: 8rem;;
  color: #f596f6;
  text-shadow: -2px 4px 8px #6c56a4, 1px 1px 1px #6c56a4, 1px -1px 0 #6c56a4, -1px -1px 0 #6c56a4, 5px 8px #6c56a4;
}

p {
  color: #6c56a4;
  font-size: 1.5rem;
  line-height: 2.5rem;
/*   letter-spacing: 0.75em; */
  margin: 1em;
  
}

h2 {
  font-family: 'Rock Salt', cursive;
  color: #5b71b0;
  font-size: 2.5rem;
} */ */ */

/* #player-image {
  width: 300px;
  height:500px;
  background-color: gold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
} */

#login-form {
  padding: 2em;
}

#name-input {
  margin-top: 1em;
  height: 2rem;
  width: 15rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.25em;
  border: 3px solid;
  color:  #5b71b0;
  border-radius: 5px;
}

#text-and-button-container {
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 0.75em; */
  width: 90%;
  /* text-align: center; */
}

#area-a, #area-b {
  border: 1px solid #5b71b0;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* padding: 0.25em; */
}



button {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: #5b71b0;
  background-color: #f993f5;
  border-radius: 5px;
  padding: 0.5em;
  border: 3px solid;
  margin: 0.5em; 
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #f3f967;
  /* background-color: #ecf3fe; */
}