@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Erica+One&family=Fascinate&family=Kenia&family=Oi&family=Permanent+Marker&family=Raleway:wght@200;300;400;500&family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Original+Surfer&family=Rock+Salt&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: #6c56a4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(106,203,166,1) 0%, rgba(109,205,216,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logo {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-family: 'Fascinate', cursive;
  line-height: 6rem;
  font-size: 8rem;;
  color: #f596f6;
  text-shadow: -2px 4px 8px #6c56a4, 1px 1px 1px #6c56a4, 1px -1px 0 #6c56a4, -1px -1px 0 #6c56a4, 5px 8px #6c56a4;
}

p {
  color: #6c56a4;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 1em;
}

h2 {
  font-family: 'Rock Salt', cursive;
  color: #5b71b0;
  font-size: 2.5rem;
  line-height: 3rem;
}

#login-form {
  padding: 2em;
}

#name-input {
  margin-top: 1em;
  height: 2rem;
  width: 15rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.25em;
  border: 3px solid;
  color:  #5b71b0;
  border-radius: 5px;
}

#main-container {
  max-width: 100%;
}

#player-image {
  width: 20%;
  float: left;
  /* border: 2px solid; */
  border-left: 3em;
  text-align: right;
  /* display: inline-block; */
}

#villain-image {
  width: 20%;
  float: right;
  /* border: 2px solid; */
  margin-right: 3em;
  text-align: left;
  /* display: inline-block; */
}

#text-and-button-container {
  width: 60%;
  margin: 0 auto;
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

#area-a, #area-b {
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: #5b71b0;
  background-color: #f993f5;
  border-radius: 5px;
  padding: 0.5em;
  border: 3px solid;
  margin: 0.5em; 
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #f3f967;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1300px) {
  #player-image, #villain-image {
    width: 45%;
  }
  #text-and-button-container {
    width: 90%;
    clear: both;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  p {
    line-height: 2rem;
  }
  
  #logo {
    font-size: 6rem;
    line-height: 4rem;
  }

  #player-image, #villain-image {
    width: 35%;
  }
} 

@media screen and (max-width: 560px) {
  #logo {
    font-size: 5rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;

  }
} 